@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  width: 100%;
}

.min-safe-h-screen, body, html, #__next {
  /* equivalent to 100dvh in major browsers */
  min-height: -webkit-fill-available
}


#__next {
  display: flex;
  flex-direction: column;
  padding: env(safe-area-inset-top, 25px);
}

nav {
  padding-top: calc(3.5em + env(safe-area-inset-top));
}

footer {
  padding: 1em 1em calc(1em + env(safe-area-inset-bottom));
}